@page
@model BillSplitter.Pages.RoomMates.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoomMate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomMate.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomMate.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomMate.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomMate.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RoomMate.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
