@page
@model BillSplitter.Pages.Payments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].RoomMate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].PaidDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Confirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Payment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bill.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomMate.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
